@font-face {
  font-family: 'Arimo';
  src: local('Arimo'), url('./../fonts/Arimo-Regular.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Arimo';
  src: local('Arimo'), url('./../fonts/Arimo-Italic.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Arimo';
  src: local('Arimo'), url('./../fonts/Arimo-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Arimo';
  src: local('Arimo'), url('./../fonts/Arimo-BoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: bold;
}

html 
{
    background-color: black;
}

body
{
    margin: 0;
  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}