.skills
{
  background: rgba(10, 10, 10, 0);
  width: 35%;
  display: inline-block;
  word-wrap: break-word;
  margin-bottom: 2%;
  margin-left: 0.33%;
  margin-right: 0.33%;
  border-bottom: 2px solid red;
}

.skills h3
{
  color: white;
  margin-bottom: 2%;
}

.skillsGrid
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}


.SkillItem
{
    width: 18%;
    display: flexbox;
    margin-bottom: 2%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;

    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;

    position: relative;
}

.SkillItem img
{
    width: 100%;
}

.SkillItem p
{
    color: white;
    font-size: 1.2em;
    margin: 10%;
}

.imageOverlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: 0.25s;
}

.imageOverlay:hover
{
  opacity: 1;
  /*backdrop-filter: blur(3px);*/
}


li
{
  color: white;
  list-style-type: none;
  padding: 0%;
  font-size: 140%;
  margin-top: 3%;
}

ul
{
  padding: 0%;
  display: inline-block;
  margin: 2%;
}